*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--background);
}

:root {
    --menu: #2D87BB;
    --blue-river: #2D87BB;
    --yellow-sun: #F7C843;
    --background: #3B9A57;
    --text: #fff;
}
  header {
    background-color: var(--menu);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  }
  
  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--yellow-sun);
  }
  
  .menu-toggle {
    display: none;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: var(--yellow-sun);
  }
  
  .init-apresetetion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    height: 100vh;
  }
  .init-box-firts{
    padding: 10px;
    height: 240px;
    width: 496px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .init-title{
    font-size: 2rem;
  }
  .init-paragraf{
    font-size: 1rem;
  }
  .init-button{
    border: none;
    padding: 10px;
    background-color: var(--text);
    border-radius: 10px;
    width: 30%;
    transition: ease 0.5s;
  }
  .init-button:hover{
    background-color: var(--menu);
    cursor: pointer;
  
  }
  .init-img{
  width: 600px;
  }

  .about-apresetetion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    height: 100vh;
  }
  .about-box{
    height: 60%;
  }
  .about-title{
    font-size: 2rem;
  }
  .box-about-paragraf{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
  }
  .about-img{
  width: 650px;
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 4rem;
      right: 0;
      height: 100%;
      background-color: var(--menu);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      padding: 1rem;
      width: 200px;
      gap: 1rem;
      z-index: 10;
    }
  
    .nav-links.active {
      display: flex;
    }
  }
  