* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--paragraf);
  }
  
  body {
    background-color: var(--background);  
    height: 100vh;
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  html {
    scroll-behavior: smooth;
  }

  header {
    background-color: var(--menu);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  }
  
  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--yellow-sun);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .text-logo {
    color: var(--background);
  }
  
  .menu-toggle {
    display: none;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--paragraf);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--paragraf);
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .nav-links li a:hover {
    color: var(--button-hover);
  }
  
  .logo-site {
    width: 100px;
    border-radius: 50%;
  }
  
  
  :root {
    --blue-river: #00fb82;
    --background: #123524;
    --card: #121A13;
    --text: #EFE3C2;
    --text-title: #fff;
    --text-link: #3d789b;
    --text-dark: #000;
    --paragraf: #fff;
    --button-hover: #a8ff86;
    --input: #212221;
    
  }
  
  .forms{
    background-color: var(--card);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    
  }
  .input-box{
    width:45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
  }
  .input-box div{
    width: 100%;
  }
  .input-enter{
    background-color: var(--input);
    border: none;
    height: 35px;
    width:100%;
    border-radius: 10px;
    outline: none;
    padding: 5px;
  }
  .input-enter:focus {
    border-bottom: 2px solid var(--paragraf);
}

  .select-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .select-menu-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--input);
    border-radius: 10px;
    padding: 10px;
  }

  .box-forms{
    display: flex;
    height: 100%;
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    padding: 5px;
  }
  .text-title{
    font-size: 1.4rem;
    border-left: 1px solid white;
    padding: 10px;
    text-transform: uppercase;
  }

  #eventosSelecionados{
    list-style: none;
}
    #eventosSelecionados li{
    margin-bottom: 3px;
}
  .valor-final{
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .options{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }

  .list-event{
    height: 100%;
  }
  .select-primary{
    display: flex;
    flex-direction: column;
  }
  .select-primary select{
    color:var(--text-dark);
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 35%;
  }

  .select{
    color:var(--text-dark);
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  .select-value{
    color: var(--text-dark);
    
  }
  .select option{
        background-color: var(--input); 
        color: white; 
  }
  
.buttons {
    border: none;
    padding: 10px;
    background-color: var(--paragraf);
    color: var(--text-dark);
    border-radius: 10px;
    width: 30%;
    transition: ease 0.5s;
  }
  
  .buttons:hover {
    background-color: var(--button-hover);
    cursor: pointer;
  }


  .buttons-register{
    border: none;
    padding: 10px;
    background-color: var(--paragraf);
    color: var(--text-dark);
    border-radius: 10px;
    width: 20%;
    transition: ease 0.5s;
    margin-top: 10px;
  }
  
  .buttons-register:hover{
    background-color: var(--button-hover);
    cursor: pointer;
  }

  .alert-box {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    background-color: #28a745; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

/* Alerta de erro */
.alert-error {
    background-color: #dc3545; 
}

/* Alerta de informação */
.alert-info {
    background-color: #17a2b8; 
}

@media (max-width: 768px){
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    right: 0;
    height: 100vh;
    background-color: var(--background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    z-index: 10;
  }

  .nav-links.active {
    display: flex;
  }
 
    .forms{
        background-color: var(--card);
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        padding: 10px;
        border-radius: 10px;
        gap: 20px;
        flex-direction: column;
      }
      .input-box{
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        gap: 5px;
      }
      .input-box div{
        width: 100%;
      }
      .input-enter{
        background-color: var(--input);
        border: none;
        height: 35px;
        width:100%;
        border-radius: 10px;
        outline: none;
        padding: 5px;
      }
      .options{
        height: 100%;
        display: flex;
        align-items: start;
        gap: 10px;
        padding: 5px;
        flex-direction: column;
      }

      .buttons-register{
        border: none;
        padding: 10px;
        background-color: var(--paragraf);
        color: var(--text-dark);
        border-radius: 10px;
        width: 30%;
        transition: ease 0.5s;
        margin-top: 10px;
      }
      
      .buttons-register:hover{
        background-color: var(--button-hover);
        cursor: pointer;
      }
      .select-menu-box{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--input);
        border-radius: 10px;
        padding: 0px;
      }
      
    .select-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    }
    .text-title{
      font-size: 1rem;
      border-left: 1px solid white;
      padding: 10px;
      text-transform: uppercase;
    }
 
}

.remove-button {
    margin-left: 10px;
    background-color: #dc3545; /* Vermelho */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.remove-button:hover {
    background-color: #b02a37; /* Vermelho escuro */
}

.footer{
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   flex-direction: column;
}